<div class = "col-md-8 col-md-offset-2 box-it-up">
<div class="text-center">
  <h1>Statistics for: <%= @client.identifier %></h1>
</div>

<div class = "table-responsive" id="stats">
  <table class="table table-hover table-condensed">
    <tr class="success">
      <th>Stats</th>
      <th>Values</th>
    </tr>
    <tr>
      <h3><td>Average response time (ms): </td></h3>
      <td><%= @stats[:average_response_time] %></td>
    </tr>
    <tr>
      <h3><td>Max response time (ms): </td></h3>
      <td><%= @stats[:max_response_time] %></td>
    </tr>
    <tr>
      <h3><td>Min response time (ms): </td></h3>
      <td><%= @stats[:min_response_time] %></td>
    </tr>
    <tr>
      <h3><td>Most frequent request type: </td></h3>
      <td><%= @stats[:most_frequent_request] %></td>
    </tr>
    <tr>
      <h3><td>All HTTP verbs used: </td></h3>
      <td><%= @stats[:all_http_verbs] %></td>
    </tr>
    <tr id="urls">
      <h3><td>Requested URLs: </td></h3>
        <% @stats[:requested_urls].each do |url|%>
        <td>
        <a href="/sources/<%= @client.identifier %>/urls/<%= url.relative_path %>"><%= url.address %></a>
        </td>
        <% end %>
    </tr>
    <tr>
      <h3 id="events"><td>Event breakdown: </td></h3>
      <td>
        <% @stats[:events].each do |event|%>
        <a href="/sources/<%= @client.identifier %>/events/<%= event.name %>"><%= event.name %></a>
        <% end %>
      </td>
    </tr>
    <tr>
      <h3><td>Web browser breakdown: </td></h3>
      <td><%= @stats[:browsers] %></td>
    </tr>
    <tr>
      <h3><td>OS breakdown: </td></h3>
      <td><%= @stats[:os] %></td>
    </tr>
    <tr>
      <h3><td>Screen resolutions: </td></h3>
      <td><%= @stats[:resolutions] %></td>
    </tr>

  </table>
</div>
</div>
